style {
    body  {font-size: 100%;}
}
  table {
    border-collapse: separate;width: 50%;height: 30px;table-layout: fixed;border-spacing:10px ;
    td {
        border: none;padding: 10px;
        text-align: center;vertical-align: middle;
        background-color:lightgray ;
    }
}