*{
    margin: 0;
}
header{
    height: 20vh;
    background: #8D8484;
}
main{
    display: flex;
    }
section{
    height: 20vh;
    width: 73vw;
    color:white;
    font-size:35px;
}
footer{
    height: 20vh;
    background: #BDBDBD;
   }
.main__contents-content-1{
    background: #776969;
    }
.main__contents-content-2{
    background: #643030;
    }
.main__contents-content-3{
    background: #441818;
   }
aside{
    height: 30vh;
    width: 27vw;
    color:white;
    font-size: 35px;
}
.main__spam-1{
    background: #937575;
}
.main__spam-2{
    background: #644C4C;
}
header,section, aside, footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
