*{
    margin: 0;
}
.grid {
    height: 100vh ;
    display: grid;
    grid-template-columns:1.5fr 1fr;
    grid-template-rows:0.5fr 5fr 4fr 0.8fr 1fr;
    grid-template-areas:
    ' header header'
    'main section-1'
    'main section-2'
    'section-3 section-3'
    'footer footer' ;
}
.grid nav{
    grid-area: nav;
    background: rgba(217, 217, 217, 1);
}
.grid main{
    grid-area: main;
    background: rgba(164, 164, 164, 1);
}
.grid section:nth-child(3){
    grid-area: section-1;
    background: rgba(127, 122, 122, 1);
}
.grid section:nth-child(4){
    grid-area: section-2;
    background: rgba(97, 80, 80, 1);
}
.grid section:nth-child(5){
    grid-area: section-3;
    background: rgba(217, 217, 217, 1);
}
.grid footer{
    grid-area: footer;
    background: rgba(175, 169, 169, 1);
}





