*{
    margin:0;
    padding:0;
}
body{
    background-color: darkolivegreen;
}
h2{
    text-align: left;
}
.wrapper{
    max-width:1700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200%;
    flex-wrap: wrap;
    padding: 80px 80px;
    gap: 40px;

}
.card {
    width: 210px;
    height: 180px;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    justify-content:center;
    flex-direction: column;
    padding: 20px 15px;
    gap:10px ;
    background: lightblue;
    transition:transform 0.3s ease ;/* збільшення*/
 }
.card:hover{
    transform: scale(1.1);
}